.container {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 40px 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.containerTwo {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 40px 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.containerThree {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 40px 450px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.containerFour {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 40px 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerFive {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 40px 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerSix {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 40px 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.one {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background: red;
}

.two {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background: blue;
}

.three {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background: green;
}

.four {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background: yellow;
}